// Contact Form
#contact {
    padding: 19px;
    margin-bottom: 20px;

    .form-message {
        margin-bottom: 15px;

        & + .form-field  {
            margin-top: 15px;
        }
    }

    .form-field {
        margin-bottom: 1.5rem;

        .form-data {
            margin-left: 100px;

            @include breakpoint(mobile-only) {
                margin-left: 0;
            }

            input, textarea {
                background-color: $white;
                border: 1px solid rgba(0, 0, 0, 0.2);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                box-sizing: border-box !important;
                width: 100%;
                line-height: $core-line-height;
                @include transition(border-color 0.2s);

                &:hover {
                    border-color: $border-color-hover;
                }

                &:focus {
                    border-color: $border-color-focus;
                }
            }

            textarea {
                padding-top: 10px;
                min-height: 226px;
            }

            input[type="checkbox"] {
                margin-top: 0.5rem;
            }
        }

        .form-label {
            float: left;
            padding-top: 5px;
            text-align: right;
        }
    }

    .buttons {
        margin-left: 100px;

        @include breakpoint(mobile-only) {
            margin-left: 0;
        }
    }
}
