.g-comingsoon {
	#rt-logo, .rt-logo {
	    background-image: url(gantry-media://logo/logo.png);
		width: 189px;
    	height: 53px;
	    margin: 0 auto;
	    display: block;
	}
	#g-showcase {
	    padding: 150px 0;
	}

	.g-copyright {
	    margin-top: 25px;
	}
	
	#g-extension.rt-authorized-form {
		padding: 50px 0;
	}
}