#g-navigation {
    background: $navigation-background;
    color: $navigation-text-color;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
    position: relative;

    &.headroom--unpinned {
    	box-shadow: none;
    }
}

// Main Navigation

#g-navigation {

	// g-container
	> .g-container {
		position: relative;
	}

	.g-content {
		padding: $content-padding;
	}

	// Social Icons
	.g-social {
		text-align: right;
		@include breakpoint(mobile-only) {
			text-align: center;
		}		
	}

	// Menu Styling
	.g-main-nav {
		float: right;

		.g-toplevel {

			i {
				opacity: 1;
				margin-right: 3px;
				margin-top: -2px;
			}

			> li {
				margin-right: 5px;

				> .g-menu-item-container {
					color: fadeout($white, 25%);
					font-family: get-font-family($font-family-default);
					padding: 0 10px;
					height: 80px;
					display: table-cell;
					vertical-align: middle;

					.g-menu-item-title {
						&:before {
						    background: rgba(255, 255, 255, 0.5);
						    bottom: 23px;
						    content: "";
						    height: 1px;
						    left: 0;
						    position: absolute;
						    width: 100%;
							@include transform(scaleX(0));
							@include transition(all 0.2s ease);
						}
					}	

					.g-menu-item-title {
						border-bottom: 0;
					}					
				}
				&:hover {
					> .g-menu-item-container {
						color: $white;
						.g-menu-item-title {
							&:before {
								@include transform(scaleX(0.35));
							}
						}	
						.g-menu-item-title {
							border-bottom: 0;
						}						
					}
				}
				&.active {
					> .g-menu-item-container {
						color: $navigation-text-color;		
						.g-menu-item-title {
							border-bottom: 0;

							&:before {
							    background: rgba(255, 255, 255, 0.5);
							    bottom: 23px;
							    content: "";
							    height: 1px;
							    left: 0;
							    position: absolute;
							    width: 100%;
							    @include transform(scaleX(0.35));
							}	
						}					
					}
				}

				&.g-parent {
					> .g-menu-item-container {
						padding: 5px 25px 5px 5px;

						.g-menu-item-title {
							&:before {
								left: -7px;
							}
						}
					}
				}

				&.g-parent .g-menu-parent-indicator {
					width: 100%;
    				display: inline;
    				z-index: 100;
					&:after {
						position: absolute;
					    right: 8px;
					    top: 50%;
					    margin-top: -7px;
					    font-family: FontAwesome;
					    content: "\f107";
					    font-size: 15px;
					    opacity: 0.8;
					}
				}
			}
		}

		.g-dropdown {
			background: $navigation-background;
			border-radius: 2px;
			> .g-dropdown-column {
				border: 1px solid transparent;
			}
		}

		.g-sublevel {

			.g-dropdown {
				margin-top: 0;
			}

			.g-go-back {
				.g-menu-item-container {
					font-size: 14px;
					padding: 0;
					margin: 0;
				}
				+ li {
					.g-dropdown {
						margin-top: -3px;
					}
				}
			}


			> li {
				border-bottom: 1px solid lighten($grey, 15%);

				> .g-menu-item-container {
					font-family: get-font-family($font-family-default);
					color: fadeout($white, 25%);					
				}

				&.g-parent {
					.g-menu-parent-indicator {
						width: auto;
						font-size: 14px;

						&:after {
							display: block;
							content: "\f054";
	    					text-align: center;
	    					margin-top: 4px;
						}
					}	
					.g-menu-item-content {
						margin-right: 0;
					}	
				}

				&:hover, &.active {
					> .g-menu-item-container {
						color: $white;
						> .g-selected {
							color: $white;
						}
					}
				}

				&:last-child {
					margin-bottom: 0;
					border-bottom: none;
				}

				&.g-menu-item-type-particle {
					&:before {
						content: none;
					}

					> .g-menu-item-container {
						padding: 0;
					}	

					&:hover {
						> .g-menu-item-container {
							background: inherit;
						}	
					}
				}
			}
		}
		.g-fullwidth {
			.g-sublevel {
				> li {
					position: relative;
				}
			} 
		} 
	}	
	.g-menu-block {
		@include breakpoint(mobile-only) {
			display: none;
		}		
	}	
	.g-menu-item-subtitle {
		text-transform: lowercase;
		font-size: 0.85rem;
		font-weight: bold;
		opacity: 0.8;
		padding-top: 2px;
	}
}

.menu-item-particle {
	a {
		color: fadeout($white, 25%);
		&:hover {
			color: $white;
		}
	}
}

@media print {
	#g-navigation {
		background: #fff !important;
		color: #000 !important;
	}
}