.g-gridcontent {
	.g-gridcontent-wrapper {
		@include display(flex);
		@include flex-flow(row wrap);
    @include flex-wrap(wrap);    
	    margin: 2rem -0.25rem;
	}
	.g-gridcontent-item {
	    @include flex(0 0 auto);
	    padding: 0.25rem;
	    width: 100%;
	    display: inline-block;
	    i.fa, span {
	    	display: block;
	    }
	    i.fa {
	    	margin: 1rem auto 2.5rem auto;
	    }
	}  	
	.g-gridcontent-title-desc {
		.g-title {
			font-family: get-font-family($font-family-title);
			font-weight: $font-weight-bold;		
			font-size: $core-font-size + 1.5;
			line-height: $core-line-height - 0.4;
			margin: 0;				
			padding: 0;
		}
	}
	.g-gridcontent-readmore {
		text-align: right;
		@include breakpoint(mobile-only) {
			text-align: center !important;
			margin-top: 1rem;
		}	
    	.dir-rtl & {
			text-align: left;
    	}			
	}
	.g-gridcontent-item-wrapper {
		border: 3px solid;
		border-radius: $border-radius;
		padding: 2rem 0;
	}
	.g-gridcontent-item-text1, .g-gridcontent-item-text2 {
		font-family: get-font-family($font-family-title);
		font-weight: $font-weight-bold;	
		font-size: $core-font-size - 0.1;
		line-height: $core-line-height - 0.2;		
		text-transform: uppercase;
		letter-spacing: -1px;
		@include breakpoint(tablet-range) {
			font-size: $core-font-size - 0.2;
		}			
	}
	.g-gridcontent-title-style-1 {
		.g-gridcontent-item-text1 {
			font-size: $core-font-size + 0.2;
			@include breakpoint(tablet-range) {
				font-size: $core-font-size;
			}			
		}		
	}
	.g-gridcontent-title-style-2 {
		.g-gridcontent-item-text2 {
			font-size: $core-font-size + 0.2;
			@include breakpoint(tablet-range) {
				font-size: $core-font-size - 0.1;
			}			
		}		
	}	
	.g-gridcontent-2cols {
		.g-gridcontent-item {
			width: 50%;
		}	
	}	
	.g-gridcontent-3cols {
		.g-gridcontent-item {
			width: 33.33333%;
		}	
	}
	.g-gridcontent-4cols {
		.g-gridcontent-item {
			width: 25%;
		}	
	}			
	.g-gridcontent-5cols {
		.g-gridcontent-item {
			width: 20%;
		}	
	}
	.g-gridcontent-6cols {
		.g-gridcontent-item {
			width: 16.66667%;
		}	
	}		

	.g-gridcontent-3cols, .g-gridcontent-5cols {
		.g-gridcontent-item {
			@include breakpoint(mobile-only) {
				width: 100%;
			}	
		}		
	}
	.g-gridcontent-4cols, .g-gridcontent-6cols {
		.g-gridcontent-item {
			@include breakpoint(mobile-only) {
				width: 50%;
			}	
		}			
	}	  
}