.g-owlcarousel-slider {
	.g-owlcarousel {
		.g-owlcarousel-image-container {
			height: 500px;
			position: relative;

			@include breakpoint(desktop-range) {
				height: 470px;
			}
			@include breakpoint(tablet-range) {
				height: 310px;
			}
			@include breakpoint(mobile-only) {
				height: 130px;
			}			

			img {
				width: 100%;
			}
		}
	
 		.g-owlcarousel-content {
 			position: absolute;
 			text-align: center;
 			color: $white;
 			bottom: 0;
 			min-height: 70px;
		    background: fadeout($accent-color-1, 25%);
		    margin: 0;
		    width: 100%;
		    top: 0;	    

		    .rt-slideshow2-author {
	 			img {
	 				width: auto;
	 				margin: 20px auto;
	 			}
	 			@include breakpoint(tablet-range) {
					display: none;
				}
 			}

 			.g-owlcarousel-padding {
				width: 800px;
				margin: 0 auto;

				@include breakpoint(desktop-range) {
					width: 580px;
				}
				@include breakpoint(tablet-range) {
					width: 435px;
				}
				@include breakpoint(mobile-only) {
					width: 230px;
				}
 			}
		    .g-owlcarousel-item-title {
		    	font-size: 250%;
	            font-family: get-font-family($font-family-alt);
			    margin-top: 70px;
			    padding: 0 5%;
			    margin-bottom: 10px;
			    line-height: 1.3em;

				@include breakpoint(desktop-range) {
					font-size: 180%;
				}
				@include breakpoint(tablet-range) {
					font-size: 130%;
					margin-top: 80px;
				}
				@include breakpoint(mobile-only) {
					font-size: 16px !important;
					margin-top: 35px;
				}			    
		    }

		    .g-owlcarousel-item-desc {
		    	font-size: 1.2em;
    			line-height: 1.75em;
    			margin: 20px 0 0;
    			padding: 0;
    			display: block;

    			@include breakpoint(desktop-range) {
					font-size: 100%;
				}
    			@include breakpoint(tablet-range) {
					font-size: 100%;
				}				
				@include breakpoint(mobile-only) {
					display: none;
				}	
		    }

		    .button {
			    margin: 45px 0 0 0;
	    		border: 1px solid #FFFFFF;
	    		background: rgba(255,255,255,0.15);
	    		color: #FFFFFF;
    		}
		}  

		
		.owl-dots {
			bottom: 3%;
			left: 45%;
			@include breakpoint(mobile-only) {
				left: 35%;
			}
		}

	    .owl-nav {
	        button.owl-prev,
        	button.owl-next {
        		border: none;
	    		padding: 40px;
	            opacity: 0.5;
	            display: block;
	            color: #fff;
	            width: 0;
	            height: 0;
	            box-sizing: content-box;
	            font-size: 2.2em;
	            @include transition(opacity 0.2s ease-in);

	            @include breakpoint(mobile-only) {
	            	padding: 20px;
	            }

	            &:hover {
	            	opacity: 1;
	            }

	            span {
	                display: none;
	            }
	        }    

            button.owl-prev {
                left: 12%; 
                background: url(gantry-theme://images/utilities/bottom-left.png) no-repeat center center; 
                @include breakpoint(mobile-only) {
	            	left: 2%;
					background-size: 10px;
	            }           
            }

            button.owl-next {
                right: 12%;  
                background: url(gantry-theme://images/utilities/bottom-right.png) no-repeat center center; 
                @include breakpoint(mobile-only) {
	            	right: 2%;
					background-size: 10px;
	            }                              
            }
	    }       
	}
}