// Buttons
.button, .button2, .readon, .readon2, readon3, a.readmore, button.validate, p.readmore a, #member-profile a, #member-registration a, .formelm-buttons button, .controls .btn, .logout-button .btn, .sprocket-readmore, &.roksearch_results a.clr, input.g-newsletter-button-submit {
	display: inline-block;
	padding: 8px 20px;
	line-height: normal;
	font-size: $base-font-size + 4;
	border-radius: 0;
	text-transform: uppercase;
	text-shadow: none;
	text-decoration: none;
	@include transition(all 0.2s ease-in);
	color: $accent-color-1;
	border: 1px solid $accent-color-1;
	background: none;
	&:hover {
		text-shadow: none;
		box-shadow: none;
		color: $white;
		background: lighten($accent-color-1, 10%);
	}
}
.readon {
	font-family: get-font-family($font-family-default);
}
.button {
	font-family: get-font-family($font-family-default);
}
.readon2, .button2 {
	color: $white;
	background: $accent-color-2;
	border-bottom: 2px solid darken($accent-color-2, 15%);
	&:hover {
		color: $white;
		background: $accent-color-1;
		border-bottom: 2px solid darken($accent-color-1, 15%);
	}
	&:after {
		display: none;
	}
}
.readon3 {
	color: $dark-grey;
	background: transparent;
	border-radius: 4px;
	border: 2px solid $dark-grey;
	&:hover {
		color: $white;
		background: $accent-color-1;
		border: 2px solid $dark-grey;
	}
	&:after {
		display: none;
	}
}